<% if signed_in? %>
<% provide(:title, current_user.name) %>
<div class="row">
	<aside class="span4">	
		<section>
			<article id="user">
				<%= gravatar_for current_user, size: 125 %>

				<p><%= current_user.name %> </p>
			</article>
			<article id="friends">
				<p> Friends: </p>
			</article>
			<article id="podcasts">
				<p> Podcasts </p>
			</article>
		</section>
	</aside>
</div>
<% else %>
<article id="signup">
	<div id="left"> 
		<span> A place to meet new podcasts and podcast listeners in just one place!  <li><%= link_to "GET INVOLVED", signup_path %></li> </span>
	</div>
	<div id="right">
		<%= image_tag("placeholder.png", class: "intro-img") %>
	</div>
</article>
<hr></hr>
<article id="community">
	<div id="left">
		<span> You will find a variety of communities to find new people and new podcasts  </span>
	</div>
	<div id="right">
		<%= image_tag("placeholder.png", class: "intro-img") %>
	</div>	
</article>
<hr></hr>
<% end -%>
