<% provide(:title, 'Settings') %>
<article id="settings">
	<h1>Profile Settings</h1>

	<div class="row">
		<div class="span6 offset3">
			<%=  form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name,"Name " %>
			<%= f.text_field :name, class: "form-control" %>

			<%= f.label :email,"Email " %>
      <%= f.text_field :email, class: "form-control" %>

		  <% if current_user.image.file.nil? %>
        <%= gravatar_pic current_user %>
      <% else %>         
        <img src="data:image/jpeg;base64,<%= current_user.image64 %>" />
      <% end %>
      
			<%= f.file_field :image %>

			<%= f.submit "Save changes", class: "btn btn-default" %>		
			<% end %>
		</div>
	</div>
</article>
