<% provide(:title, @user.name) %>
	<div class="row">
	<aside class="span4">
		<section>
			<article id="user">
				<%= gravatar_pic @user, size: 150 %>

				<p><%= @user.name %> </p>
			</article>
			<% @user ||= current_user %>
			<article id="follow">
				<%= render 'shared/stats' %>
				<%= render 'follow_form' if signed_in? %>
			</article>
			<article id="podcasts">
				<p> Podcasts </p>
				<div class="followed-podcasts">
					<% @user.podcasts.limit(3).each do |p| %>
						<%= image_tag(p.image) %>
					<% end %>
					<%= link_to "view more", podcasts_user_path(@user), {:class=>"all-podcasts"}  %>
				</div>
			</article>
		</section>
	</aside>
</div>
