<section>
  <article id="user">
    <% if(@user.image.file.nil?)%>
    <%= gravatar_pic @user, size: 150 %>
    <% else %>
    <img src="data:image/jpeg;base64,<%= @user.image64 %>" />
    <% end %>
    <p><%= @user.name %> </p>
  </article>
  <article id="follow">
    <%= render 'shared/stats' %>
  </article>
  <% if(@user.podcasts.length > 0) %>
  <article id="podcasts">
    <p> Podcasts </p>
    <div class="followed-podcasts">
      <% @user.podcasts.limit(3).each do |p| %>
      <img src="data:image/jpeg;base64,<%= @user.image64 %>" />
      <% end %>

      <%= link_to "view more", podcasts_user_path(@user), {class: "all-podcasts"}  %>

    </div>
  </article>
  <% end %>
</section>
