<% provide(:title, @podcast.name) %>

<section class="show-podcast">
	<img src="data:image/jpeg;base64,<%= @podcast.image64 %>" />
	<span><%= @podcast.name %></span>

	<p> <%= @podcast.description %> </p>
	<br/>
	<% if !current_user.podcasts.exists?(@podcast.id) %>
	<%= button_to 'Follow Podcast', follow_podcast_path(@podcast.id), class: "follow" %>
	<% else %>
	<%= button_to 'Unfollow Podcast', unfollow_podcast_path(@podcast.id), class: "follow" %>
	<% end %>
</section>
