<header id="main_header">
	<nav class="top-bar" data-topbar="">

		<section id="header-section">
			<ul class="logo">
				<li class="name">
					<h1><a href="/">PODCAST CENTRAL</a></h1>
				</li>
			</ul>
			<ul class="menu-right">
				<li class="main-menu"><%= link_to "PODCASTS", podcasts_path %></li>
				<li class="main-menu"><%= link_to "COMMUNITY", users_path %></li>
				<li class="main-menu">
				<% if signed_in? %>
				 	<% if current_user.image.file.nil? %>
						<a id="dropdown-menu"  href="#"><%= gravatar_pic current_user %> <b class="caret"> </b></a>
					<% else %>
						<a id="dropdown-menu"  href="#"><img src="data:image/jpeg;base64,<%= current_user.image64 %>" /> <b class="caret"> </b></a>
					<% end %>
						<ul class="submenu">
							<li class="submenu"><%= link_to "PROFILE", current_user %>
							</li>
							<li class="submenu"><%= link_to "SETTINGS", edit_user_path(current_user) %></li>
							<li class="submenu">
								<%= link_to "SIGN OUT", signout_path, method: "delete" %>
							</li>
						</ul>
					</li>
				<% else %>
				<li><%= link_to "SIGN IN", signin_path %></li>
				<% end %>
			</ul>
			<ul class="menu-icon">
				<%= image_tag("icons/sprite.png", class: "intro-img") %>
			</ul>
		</section>
	</nav>
</header>
