<header id="main_header">
	<nav class="top-bar" data-topbar="">

		<section id="header-section">
			<ul class="logo">
				<li class="name">
					<h1><a href="/">PODCAST CENTRAL</a></h1>
					<!-- <%= image_tag "podcentral-icon.png" %>-->		
				</li>					
			</ul>			
			<ul class="menu-right">					
				<li><%= link_to "PODCASTS", podcasts_path %></li>
				<li><%= link_to "COMMUNITY", community_path %></li>
				<% if signed_in? %>
				<li><a id="dropdown-menu" href="#">ACCOUNT <b class="caret"> </b></a>
					<ul class="submenu">
					<li class="submenu"><%= link_to "PROFILE", current_user %></li>
						<li class="submenu"><%= link_to "SETTINGS", edit_user_path(current_user) %></li>
						<li class="submenu">
							<%= link_to "SIGN OUT", signout_path, method: "delete" %>
						</li>
					</ul>
				</li>		
				<% else %>
				<li><%= link_to "SIGN IN", signin_path %></li>
				<% end %>
			</ul>
		</section>
	</nav>
</header>