<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper"> 
		<section id="header-section">
			<%= render 'layouts/header' %>
		</section>
		<section id="content-section">
			<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
		</section>
		<%= debug(params) if Rails.env.development? %>
		<section id="footer-section">
			<%= render 'layouts/footer' %>
		</section>
		
	</div>
</body>
</html>
