<!DOCTYPE html>
<html>
<head>
	<title>Podcast Central</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper"> 
		<section class="header-section">
			<%= render 'layouts/header' %>
		</section>
		<section class="content-section">
			<%= yield %>
		</section>
		<section class="footer-section">
			<%= render 'layouts/footer' %>
		</section>
	</div>
</body>
</html>
